<!-- footer -->
<footer class="footer">
      <div class="container row">
        <!-- <div class="col">
          <img src="images/logo_transparent.png" class="logo" alt="logo" />
        </div> -->
        <div class="col-6">
          <a href="views/about.ejs">ABOUT THE SITE</a>
        </div>
        <div class="col links">
          <span class="facebook"><i class="fab fa-facebook-f"></i></span>
          <span class="twitter"><i class="fab fa-twitter"></i></span>
          <span class="google"><i class="fab fa-google"></i></span>
        </div>
      </div>
    </footer>
  </div>
    <!-- boostrap js -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>


