body,
html {
  font-family: "Poppins", sans-serif;
  color: #131200;
  /* background-color: #eec8e0; */
  height: 100vh;
}

body > .container {
  padding: 60px 15px 0;
}
body {
  margin: 0;
}

header {
  display: block;
}

.container {
  width: 100%;
}
h1 {
  padding: 0.5em 0;
  font-weight: 700;
}

/* navbar */
.nav-bg {
  background-color: #7768ae;
}

li {
  padding: 1em;
}

.logo {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

/* scroll-able div */
.scroll {
  width: 100%;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* extra padding */
.buffer {
  margin: 5em 0;
}

/* button  */

button[type="submit"] {
  background-color: #7768ae;
  color: #ffffff;
}

button:focus {
  outline: none;
  border: none;
}

#delete {
  background-color: #f86953;
}

.glow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  cursor: pointer;
  color: #ffff;
  font-weight: 600;
}

.glow:hover,
.glow:focus {
  transform: scale(1.05);
  color: #eec8e0;
}

.glow:active {
  transform: scale(0.9);
}

/* footer  */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  line-height: 60px;
  background-color: #7768ae;
  font-weight: 600;
}

span,
.links {
  margin-left: 1em;
  padding-left: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a,
i {
  color: #ffffff;
}

@media (max-width: 767.98px) {
  button[type="submit"] {
    margin: 1em 0;
  }
  .row {
    padding: 0 0.5em;
  }
}
